body{
	font-size:13px;
	margin-top:0px;
	background-color:#B1C9E2;
}
.modtype1{
	background-color:#537BD2;
	color:#ffffff;
	font-weight:bold;
	height:25px;
}
.modtype2{
	height:25px;
}
.txt1{
	border:1px solid black;
	background-color:white;
}
.txt2{
	border:1px solid black;
	background-color:white;
	width:150px;
}
.btn1{
	border:1px solid black;
	background-color:white;
}
.addtype2{
	background-color:#66CBFF;
	font-size:20px;
	font-weight:bold;
	height:30px;
}
.addtype1{
	background-color:#66CBFF;
	height:50px;
	font-size:20px;
	font-weight:bold;
	text-align:center;
}
.indexTd1{
	background-color:#CDFFFF;
	height:50px;
	font-size:20px;
	font-weight:bold;
	text-align:center;
}
.indexTd2{
	background-color:#DCDCDC;
	font-size:13px;
	text-align:left;
	border-top:1px solid #ffffff;
	height:70px;
}
td{
	font-size:13px;
}
#div1,#div2,#div3{
	background-color:#E0E8E4;
	line-height:25px;
	position:absolute;
	width:160px;
	border:1px solid black;
	display:none;
}
.msgTd{
	background-color:#FFFFFF;
	font-size:13px;
	height:20px;
	border-bottom:1px solid #B5D0EF;
}
.head1{
	text-align:center;
	color:white;
	font-size:30px;
	font-family:Times New Roman;
	font-weight:bold;
	background-color:#1C67B8;
	width:500px;
}
.head2{
	background-color:#1C64BC;
	border-top:1px solid #B5D0EF;
}
a{
	font-size:13px;
	color:#08517F;
	text-decoration:none;
}
a:hover{
	font-size:13px;
	color:#08517F;
	text-decoration:none;
}