body{
	font-size:13px;
	margin-top:0px;
	background-color:#CFCCCB;
	text-align:center;
}
.reviewList0{
	width:550px;
	margin-left:auto;
	margin-right:auto;
}
.hr1{
	border-style:dashed;
	border-color:#E4C187;
	border-width:1px;
}
.reviewList1{
	width:550px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	margin-top:5px;
}
.reviewFace{
	width:550px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	margin-top:5px;
}
.newsContent{
	font-size:13px;
	width:550px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
.newsImg{
	width:550px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.newsTime{
	font-size:13px;
	width:550px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	height:25px;
	line-height:25px;
	vertical-align:middle;
}
.newsTitle{
	font-size:17px;
	font-weight:bold;
	width:550px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	text-align:center;
	height:25px;
	line-height:25px;
	vertical-align:middle;
}
.search2{
	width:550px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	font-size:13px;
	margin-top:10px;
	margin-bottom:10px;
}
.search1{
	width:550px;
	background-color:#CF0000;
	color:white;
	font-size:13px;
	height:25px;
	line-height:25px;
	vertical-align:middle;
	text-align:left;
	border:1px solid #BE0000;
}
.searchDiv{
	width:550px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	font-size:13px;
	text-align:center;
	border:1px solid #BE0000;
}
.typeTitle3{
	width:550px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	text-align:left;
}
.typeTitle2{
	float:left;
	width:270px;
}
.typeTitle1{
	float:left;
	width:160px;
}
.typeTitle{
	width:550px;
	background-color:#CF0000;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	color:white;
	font-size:13px;
	height:25px;
	line-height:25px;
	vertical-align:middle;
}
.footerDiv{
	width:600px;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	text-align:center;
	height:60px;
	line-height:25px;
	vertical-align:middle;
	font-size:13px;
}
.newsType4{
	width:160px;
	text-align:left;
	float:left;
}
.newsType3{
	width:80px;
	text-align:left;
	float:left;
}
.newsType2{
	width:80px;
	text-align:left;
	float:left;
	color:#CC0001;
}
.newsType1{
	width:330px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	text-align:left;
	font-size:13px;
}
.hot1{
	width:330px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	text-align:left;
	font-size:13px;
}
.hotDiv{
	width:330px;
	background-color:#CC0001;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	color:white;
	font-weight:bold;
	height:25px;
	line-height:25px;
	vertical-align:middle;
	margin-top:5px;
}
a{
	font-size:13px;
	color:#CC0001;
	text-decoration:none;
}
a:hover{
	font-size:13px;
	color:#000000;
	text-decoration:none;
}
.type3{
	width:240px;
	text-align:left;
	heigth:20px;
	line-height:20px;
	vertical-align:middle;
	margin-left:auto;
	margin-right:auto;
}
.typeDiv{
	width:240px;
	height:25px;
	background-color:#CC0001;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
}
.type1{
	width:95px;
	float:left;
	text-align:left;
	margin-left:5px;
	height:25px;
	line-height:25px;
	vertical-align:middle;
}
.type2{
	width:130px;
	float:left;
	text-align:right;
	margin-right:5px;
	height:25px;
	line-height:25px;
	vertical-align:middle;
}
.btn1{
	border:1px solid #D4D0C8;
	background-color:white;
}
#checkImg{
	cursor:pointer;
}
.txt3{
	border:1px solid black;
}
.txt2{
	width:75px;
	border:1px solid #D4D0C8;
}
.txt1{
	width:150px;
	border:1px solid #D4D0C8;
}
.login4{
	width:180px;
	float:left;
	color:red;
	text-align:left;
}
.login3{
	width:60px;
	float:left;
	height:20px;
	line-height:20px;
	vertical-align:middle;
}
.login2{
	width:240px;
	margin-top:5px;
}
.login1{
	width:240px;
	background-color:#CC0001;
	height:20px;
	color:white;
	font-weight:bold;
	text-align:left;
	line-height:20px;
	vertical-align:middle;
}
.loginDiv{
	border:1px solid #BE0000;
	width:240px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
}
.clear:after{
	content:".";
	visibility:hidden;
	height:0px;
	clear:both;
	display:block;
}
.leftDiv{
	width:250px;
	float:left;
	border-right:1px solid #BE0000;
}
.rightDiv{
	width:345px;
	float:left;
}
.contentDiv{
	width:600px;
	border:1px solid #BE0000;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
}
.a{
	color:white;
	font-size:13px;
	text-decoration:none;
}
.a:hover{
	color:black;
	font-size:13px;
	text-decoration:none;
}
.head4{
	background-color:#990100;
	width:600px;
	height:25px;
	line-height:25px;
	vertical-align:middle;
	color:white;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	border-left:1px solid #BE0000;
	border-right:1px solid #BE0000;
}
.head3{
	text-align:center;
	font-size:30px;
	text-decoration:underline;
	color:white;
	height:100px;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	line-height:100px;
	vertical-align:middle;
	font-weight:bold;
	background-image:url("../images/image1.gif");
	border-left:1px solid #BE0000;
	border-right:1px solid #BE0000;
}
.headDiv{
	background-color:white;
	width:600px;
	height:100px;
	border:1px solid #BE0000;
	margin-left:auto;
	margin-right:auto;
}
.head1{
	float:left;
	font-family:Times New Roman;
	font-size:25px;
	font-weight:bold;
	margin-left:10px;
	margin-top:30px;
	margin-right:30px;
}
.head2{
	margin-left:50px;
	margin-top:25px;
}